{{ $email := promptStringOnce . "email" "Email" -}}
{{ $isWork := promptBoolOnce . "isWork" "Is work PC" -}}

{{- $osID := .chezmoi.os -}}
{{- if hasKey .chezmoi.osRelease "id" -}}
{{-   $osID = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id -}}
{{- end -}}

[data]
	email = {{ $email | quote }}
	isWork = {{ $isWork }}
	osID = {{ $osID | quote }}

[edit]
	command = "nvim"

[diff]
    pager = "delta"

[merge]
    command = "nvim"
    args = [
        "-d",
        {{ printf "%q" "{{ .Destination }}" }},
        {{ printf "%q" "{{ .Source }}" }},
        {{ printf "%q" "{{ .Target }}" }},
    ]

