{{ if eq .osID "linux-ubuntu" "linux-pop"  -}}

{{ $packagesAPT := list
	"jq"
	"ripgrep"
	"fd-find"
	"bat"
	"neovim"
	"git"
	"fish"
	"lolcat"
	"cmatrix"
	"cowsay"
	"xclip"
	"nodejs"
	"mpv"
	"cloc"
	"tmux"
	"cmake"
	"golang"
-}}

{{ $packagesCargo := list 
	"starship"
	"du-dust"
	"exa"
-}}

{{ $packagesGo := list 
	"github.com/go-task/task/v3/cmd/task@latest"
	"github.com/charmbracelet/glow@latest"
	"github.com/charmbracelet/gum@latest"
-}}

{{ $packagesYarn := list 
	"@bitwarden/cli"
	"sass"
-}}

#!/bin/bash

set -eu

echo -e "==== Start: Install Packages ====\n"

mkdir -p "{{ .chezmoi.homeDir }}/.go"
export GOPATH="{{ .chezmoi.homeDir }}/.go"

curl -s https://deb.nodesource.com/setup_16.x | sudo bash
sudo add-apt-repository -y ppa:longsleep/golang-backports
sudo add-apt-repository -y ppa:neovim-ppa/stable
sudo apt update -y
sudo apt upgrade -y

sudo apt install -y {{ $packagesAPT | join " " }}

sudo ln -fs /usr/bin/batcat /usr/bin/bat
sudo ln -fs /usr/bin/fdfind /usr/bin/fd

curl --proto '=https' --tlsv1.3 https://sh.rustup.rs -sSf | sh
export PATH="$HOME/.cargo/bin:$PATH"

cargo install --locked {{ $packagesCargo | join " " }}

{{ range $package := $packagesGo -}}
	go install {{ $package }} 
{{ end -}}

env CGO_ENABLED=0 go install -ldflags="-s -w" github.com/gokcehan/lf@latest

sudo npm install --global yarn
sudo yarn global add {{ $packagesYarn | join " " }}

echo -e "\n==== End: Install Packages ===="

{{ end -}}
