{{ if eq .osID "linux-arch" -}}

#!/usr/bin/bash

set -eu

echo -e "==== Start: Services ====\n"

sudo systemctl enable acpid.service
sudo systemctl enable lightdm.service
sudo systemctl enable system76.service
sudo systemctl enable system76-firmware-daemon.service
sudo systemctl enable com.system76.PowerDaemon.service
sudo systemctl enable docker.service
sudo systemctl enable systemd-resolved.service

echo -e "\n==== End: Services ===="

{{ end -}}
