{{ if eq .osID "linux-arch" -}}

#!/usr/bin/bash

set -eu

echo -e "==== Start: Touchpad Setting ====\n"

sudo mkdir -p /etc/X11/xorg.conf.d
sudo tee /etc/X11/xorg.conf.d/30-touchpad.conf >/dev/null <<EOM
Section "InputClass"
    Identifier "Touchpads"
    Driver "libinput"
    MatchIsTouchpad "on"
    Option "Tapping" "on"
    Option "NaturalScrolling" "off"
    Option "ClickMethod" "clickfinger"
EndSection
EOM

echo -e "\n==== End: Touchpad Setting ===="

{{ end -}}
