{{ if eq .osID "linux-arch" -}}

#!/usr/bin/bash

set -eu

echo -e "==== Start: Keyboard ====\n"

localectl set-x11-keymap --no-convert us,ua pc105+inet "" grp:caps_toggle

sudo chown "$USER:" /sys/class/leds/system76_acpi::kbd_backlight/color
sudo chown "$USER:" /sys/class/leds/system76_acpi::kbd_backlight/brightness
sys76-kb set --color aqua --brightness 255

echo -e "\n==== End: Keyboard ===="

{{ end -}}
