{{ if eq .osID "linux-arch" -}}

{{ $packages := list
    "xorg-server"
    "xorg-xinit"
    "xorg-xrandr"
    "xorg-xkill"
    "xorg-xhost"
    "xorg-xinput"
    "mesa"
    "mesa-utils"
    "nvidia"
    "nvidia-utils"
    "nvidia-settings"
    "nvidia-prime"
    "libinput"
    "pipewire"
    "pipewire-pulse"
    "pipewire-alsa"
    "pipewire-media-session"
    "pamixer"
    "vorbis-tools"
    "alsa-utils"
    "light"
    "acpi"
    "acpid"
    "acpi_call"
    "lightdm"
    "lightdm-gtk-greeter"
    "lightdm-gtk-greeter-settings"
    "awesome"
    "polybar"
    "picom"
    "unclutter"
    "polkit"
    "polkit-gnome"
    "network-manager-applet"
    "arc-gtk-theme"
    "lxappearance-gtk3"
    "xterm"
    "alacritty"
    "fish"
    "starship"
    "lolcat"
    "figlet"
    "cowsay"
    "cmatrix"
    "tokei"
    "neofetch"
    "htop"
    "btop"
    "bat"
    "exa"
    "zoxide"
    "tmux"
    "rofi"
    "chezmoi"
    "bitwarden"
    "bitwarden-cli"
    "git"
    "openssh"
    "man-db"
    "go"
    "python"
    "python-pip"
    "jdk17-openjdk"
    "lua"
    "neovim"
    "lf"
    "fd"
    "ripgrep"
    "speedtest-cli"
    "make"
    "gcc"
    "wget"
    "dust"
    "lazygit"
    "flameshot"
    "jq"
    "nautilus"
    "file-roller"
    "telegram-desktop"
    "pavucontrol"
    "firefox"
    "discord"
    "evince"
    "eog"
    "spotify-launcher"
    "obs-studio"
    "libreoffice-still"
    "noto-fonts"
    "ttf-dejavu"
    "ttf-ubuntu-font-family"
    "ttf-jetbrains-mono-nerd"
    "ttf-liberation"
    "ttf-ibm-plex"
    "docker"
    "docker-compose"
    "docker-buildx"
    "steam"
    "lib32-nvidia-utils"
	  "transmission-gtk"
-}}

#!/bin/bash

# m4 libvncserver libtool libpulse gettext  autoconf automake file fakeroot \
# maim xsel zip unzip gzip which tailscale sed playerctl patch  grep gawk findutils cpio compsize bison binutils \
# grub-customizer gpicview vlc transmission-gtk  steam remmina qalculate-gtk \
# virtualbox virtualbox-host-modules-arch \
# nodejs-lts-fermium  \
# bluez bluez-utils cups hplip \

set -eu

echo -e "==== Start: Install Base Packages ====\n"

sudo pacman -Syyu
sudo pacman -Syu

sudo pacman --needed -S {{ $packages | join " " }}

echo -e "\n==== End: Install Base Packages ===="

{{ end -}}
