{{ if eq .osID "linux-arch" -}}

{{ $packages := list
    "xorg-server"
    "xorg-xinit"
    "xorg-xrandr"
    "xorg-xkill"
    "xorg-xhost"
    "xorg-xinput"
    "mesa"
    "mesa-utils"
    "nvidia"
    "nvidia-utils"
    "nvidia-settings"
    "nvidia-prime"
    "libinput"
    "pipewire"
    "pipewire-pulse"
    "pipewire-alsa"
    "alsa-utils"
    "pipewire-media-session"
    "acpi"
    "acpid"
    "acpi_call"
    "lightdm"
    "lightdm-gtk-greeter"
    "lightdm-gtk-greeter-settings"
    "awesome"
    "picom"
    "unclutter"
    "polkit"
    "polkit-gnome"
    "network-manager-applet"
    "arc-gtk-theme"
    "lxappearance-gtk3"
    "xterm"
    "alacritty"
    "fish"
    "starship"
    "lolcat"
    "neofetch"
    "htop"
    "bat"
    "exa"
    "zoxide"
    "tmux"
    "rofi"
    "chezmoi"
    "bitwarden"
    "bitwarden-cli"
    "git"
    "openssh"
    "man-db"
    "go"
    "lua"
    "neovim"
    "lf"
    "make"
    "gcc"
    "wget"
    "dust"
    "lazygit"
    "jq"
    "nautilus"
    "telegram-desktop"
    "pavucontrol"
    "firefox"
    "discord"
    "evince"
    "spotify-launcher"
    "noto-fonts"
    "ttf-dejavu"
    "ttf-ubuntu-font-family"
    "ttf-jetbrains-mono-nerd"
    "ttf-liberation"
    "ttf-ibm-plex"
-}}

#!/bin/bash

# m4 libvncserver libtool libpulse gettext  autoconf automake file fakeroot \
# maim xsel zip unzip gzip which tailscale sed playerctl patch light grep gawk findutils cpio compsize bison binutils \
# figlet cowsay cmatrix bottom \
# grub-customizer gpicview vlc transmission-gtk  steam remmina qalculate-gtk \
# obs-studio libreoffice-still jupyterlab  flameshot   \
# virtualbox virtualbox-host-modules-arch \
# thunar thunar-archive-plugin tumbler file-roller \
# python python-pip nodejs-lts-fermium jdk11-openjdk \
# docker docker-compose \
# bluez bluez-utils cups hplip \

set -eu

echo -e "==== Start: Install Base Packages ====\n"

sudo pacman -Syyu
sudo pacman -Syu

sudo pacman --needed -S {{ $packages | join " " }}

echo -e "\n==== End: Install Base Packages ===="

{{ end -}}
