[init]
	defaultbranch = "main"

[user]
	email = "{{ .email }}"
	name = "Artem Yadelskyi"
	signingkey= "~/.ssh/id_ed25519.pub"

[gpg]
	format = "ssh"

[commit]
	gpgsign = true

[core]
	autocrlf = "input"

